// Mobile first
$mediaWidthMobile: 320px;
$mediaWidthTablet: 768px;
$mediaWidthTabletHorizontal: 1024px;
$mediaWidthLaptop: 1366px;
$bg-gray-color:#F7F7F7;
$text-section-color:#848789;
$title-section-color:#353738;